{% extends 'base.html' %}

{% block content %}
<h2>Connexion</h2>

<form method="post">
  {% csrf_token %}
  <div>
    <label for="username">Nom d'utilisateur :</label>
    <input type="text" name="username" required>
  </div>
  <div>
    <label for="password">Mot de passe :</label>
    <input type="password" name="password" required>
  </div>
  {% if message %}
    <div class="{% if message.tags %}alert alert-{{ message.tags }}{% endif %}">
      {{ message }}
    </div>
  {% endif %}
  <input type="submit" value="Se connecter">
</form>
<div name="Autre">
  <button><a href="{% url 'register' %}">S'inscrire</a></button>
</div>
{% endblock %}



